---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: false
IndentCaseLabels: true
SpaceAfterCStyleCast: true
...
